.tournamentsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  /* background-color: #15384f; */
}

.tournamentsList {
  width: 70vw;
  margin: 0 auto;
  margin-top: 2%;
  padding: 1%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1300px) {
  .tournamentsList {
    width: 71vw;
  }
}

@media only screen and (max-width: 1200px) {
  .tournamentsList {
    width: 90vw;
  }
}

@media only screen and (max-width: 970px) {
  .tournamentsList {
    width: 60vw;
  }
}

@media only screen and (max-width: 936px) {
  .tournamentsList {
    width: 90vw;

    justify-content: center;
  }

  .tournamentsContainer {
    margin-top: 10vh;
  }
}
